* {
	margin: 0;
	padding: 0;
	font-family: 'Bai Jamjuree', sans-serif;
}

body {
	font-size: 18px;
	line-height: 1.5;
}

:root {
	--cyan: hsl(171, 66%, 44%);
	--light-blue: hsl(233, 100%, 69%);
	--dark-gray: hsl(210, 10%, 33%);
	--gray: hsl(201, 11%, 66%);
}

.container {
	width: 80%;
	margin: auto;
	text-align: center;
}

h1, h2, h3, h4 {
	color: var(--dark-gray);
}

p {
	color: var(--gray);
	line-height: 1.5;
}


/* header */

header img {
	width: 100px;
}

header p {
	margin: 1em 13em 2em;
}

.ios-btn, .mac-btn {
	border: none;
	outline: none;
	cursor: pointer;
	padding: .75em 2.2em;
	color: #eaeaea;
	border-radius: 20px;
}

.ios-btn {
	background-color: var(--cyan);
}

.mac-btn {
	background-color: var(--light-blue);
}


/* showcase */

.showcase {
	margin: 5em 0;
}

.description p {
	margin: 1em 10em 4em;
}

.content {
	display: flex;
}

.img-container img {
	width: 100%;
}

.features {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	padding-left: 5em;
}

.features-col {
	text-align: left;
}


/* access-clipboard */

.access-clipboard p {
	margin: 1em 10em 5em;
}

.access-clipboard img {
	height: 68vh;
}


/* supercharge */

.supercharge {
	margin: 4em 0 8em;
}

.tools {
	display: flex;
	justify-content: space-between;
}

.tools-col {
	width: 32%;
}


/* companies */

.companies .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border: 1px solid;
}

.companies img {
	border: 1px solid;
}